<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button styleClass="p-button-text p-raised-button no-border" (onClick)="goToHome()">
      <img ngSrc="assets/cruzeiro_do_sul.png" alt="logo" height="40" width="40">
    </p-button>
  </div>
  <div id="title" class="p-toolbar-group-center">
    <h1>Azul Celeste</h1>
  </div>
  <div class="p-toolbar-group-end">
    <p-menu #menu [model]="model" [popup]="true"></p-menu>
    <p-button (click)="menu.toggle($event)" styleClass="no-border p-button-text">
      <i id="menu" class="pi pi-bars"></i>
    </p-button>
  </div>
</p-toolbar>
