<div id="panel">
  <p-card>
    <div id="inside-panel">
      <div id="left-panel">
        <h3 id="title">Login</h3>
        <form [formGroup]="form">
          <div id="inputs">
            <input pInputText placeholder="Email" formControlName="email"
                   [class.invalid-input]="email?.invalid && email?.touched">

            <input pInputText placeholder="Senha" type="password" formControlName="password"
                   [class.invalid-input]="password?.invalid && password?.touched">
          </div>
        </form>

        <div id="buttons">
          <p-button
            label="Entrar"
            [disabled]="form.invalid"
            styleClass="p-button-raised p-button-text p-button-secondary p-button-login">
          </p-button>

          <span style="color: #FFF">
            Não possui conta? <p-button label="Cadastra-se" styleClass="p-button-link color-white"></p-button>
          </span>
        </div>
      </div>

      <img src="assets/torcida.png" alt="torcida">
    </div>
  </p-card>
</div>
