<div id="panel">
  <p-card>
    <div id="inside-panel">
      <div id="inputs">
          <h3 id="title">Login</h3>
          <input pInputText placeholder="Email">
          <input pInputText placeholder="Senha" type="password">
          <p-button label="Entrar" styleClass="p-button-raised p-button-text p-button-secondary p-button-login"></p-button>
          <div>
            <span style="color: #FFF">Não possui conta? </span>
            <p-button label="Cadastra-se" styleClass="p-button-link color-white"></p-button>
          </div>
        </div>
        <img src="assets/torcida.png" alt="torcida">
      </div>
  </p-card>
</div>
