<app-header></app-header>

<h1 id="title">Listagem de Eventos</h1>
<div *ngIf="loading" style="width: 100%; text-align: center">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!loading" id="grid">
  <p-card *ngFor="let evento of eventos; index as i" [header]="evento.nome" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <div style="width: 360px; height: 130px">
        <img
          alt="Banner evento"
          [src]="evento.arquivo ? evento.arquivo.caminho : 'assets/not_found.jpg'"
          style="width: 100%; height: 100%; object-fit: cover"/>
      </div>
    </ng-template>
    <ng-template pTemplate="subtitle">
      <span>
        <i class="pi pi-map-marker"></i>
        {{ evento.endereco.rua }},
        {{ evento.endereco.numero }}
        {{ evento.endereco.bairro }}
        {{ evento.endereco.cidade.nome }} - {{ evento.endereco.cidade.uf }}
      </span>
      <div id="data" *ngIf="(evento.data | data) as data">
        <span><i class="pi pi-calendar"></i> {{ data.data }} </span>
        <span><i class="pi pi-clock"></i> {{ data.hora }}  </span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p>{{ evento.descricao }}</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="buttons">
        <p-button
          *ngIf="!verifySubscription(evento); else uns"
          label="Inscrever-se"
          icon="pi pi-calendar-plus"
          styleClass="p-button-raised button-blue"
          (onClick)="selectEvento(evento, 'Deseja confirmar sua inscrição?', subscribe)">
        </p-button>

        <p-button
          *ngIf="isAdmin()"
          icon="pi pi-trash"
          styleClass="p-button-raised p-button-rounded p-button-danger"
          (onClick)="selectEvento(evento, 'Deseja excluir o evento?', deleteEvento)">
        </p-button>

        <ng-template #uns>
          <p-button
            label="Desinscrever-se"
            icon="pi pi-calendar-minus"
            styleClass="p-button-raised p-button-warning"
            (onClick)="selectEvento(evento, 'Deseja desinscrever-se do evento?', unsubscribe)">
          </p-button>
        </ng-template>

      </div>
    </ng-template>
  </p-card>
</div>

<div *ngIf="isAdmin()" id="position-button">
  <p-button
    icon="pi pi-plus"
    styleClass="p-button-rounded p-button-raised button-blue"
    (onClick)="showRegister()">
  </p-button>
</div>

<app-dialog-confirmation
  *ngIf="selectedEvento"
  [visible]="confirmationDialog"
  (onConfirm)="action()"
  (onClose)="showConfirmation(false)">
  <p>{{message}}</p>
</app-dialog-confirmation>

<app-register-event
  *ngIf="isAdmin()"
  [visible]="registerEvento"
  (onClose)="showRegister(false)"
  (onConfirm)="createEvento($event)">
</app-register-event>
