<app-header></app-header>

<h1 id="title">Listagem de Eventos</h1>
<div id="grid">
  <p-card *ngFor="let evento of eventos" [header]="evento.nome" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <div style="width: 360px; height: 130px">
        <img
          alt="Banner evento"
          [src]="evento.arquivo ? evento.arquivo.caminho : 'assets/not_found.jpg'"
          style="width: 100%; height: 100%; object-fit: cover"/>
      </div>
    </ng-template>
    <ng-template pTemplate="subtitle">
      <span>
        <i class="pi pi-map-marker"></i>
        {{ evento.endereco.rua }},
        {{ evento.endereco.numero }}
        {{ evento.endereco.bairro }}
        {{ evento.endereco.cidade.nome }} - {{ evento.endereco.cidade.uf }}
      </span>
      <div id="data" *ngIf="(evento.data | data) as data">
        <span><i class="pi pi-calendar"></i> {{data.data}} </span>
        <span><i class="pi pi-clock"></i> {{data.hora}}  </span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p>{{ evento.descricao }}</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <div style="width: 100%">
        <p-button
          label="Inscrever-se"
          icon="pi pi-calendar-plus"
          styleClass="p-button-raised button-blue">
        </p-button>
      </div>
    </ng-template>
  </p-card>
</div>

<div id="position-button">
  <p-button
    icon="pi pi-plus"
    styleClass="p-button-rounded p-button-raised button-blue"
    (onClick)="showRegister()">
  </p-button>
</div>

<app-register-event
  [visible]="registerEvento"
  (onClose)="showRegister(false)"
  (onConfirm)="createEvento($event)">
</app-register-event>
