/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.p-card .p-card-content {
  padding: 0 !important;
  background-color: #005ba2;
  border-radius: 7px;
}

.p-card .p-card-body {
  padding: 0 !important;
  background-color: #005ba2;
  border-radius: 7px;
}

.p-button-login {
  background-color: white !important;
  color: #005ba2 !important;
  width: 100%;
}

.color-white {
  color: #FFF !important;
}

.p-button.p-button-link {
  padding: 0 !important;
}
